<launch>

  <arg name="UAV_NAME" default="$(env UAV_NAME)"/>
  <arg name="NATO_NAME" default="$(env NATO_NAME)"/>
  <arg name="UAV_TYPE" default="$(env UAV_TYPE)"/>
  <arg name="SENSORS" default="$(env SENSORS)"/>
  <arg name="RUN_TYPE" default="$(env RUN_TYPE)"/>
  <arg name="PIXGARM" default="$(optenv PIXGARM false)"/>
  <arg name="COLORSCHEME" default="$(optenv PROFILES_BOTH COLORSCHEME_LIGHT)"/>
  <arg name="RAINBOW" default="false"/>

  <arg name="debug" default="false"/>

  <arg     if="$(arg debug)" name="launch_prefix" value="debug_roslaunch" />
  <arg unless="$(arg debug)" name="launch_prefix" value="" />

  <arg name="config_file" default=""/>

  <arg if="$(eval arg('RUN_TYPE') == 'simulation' and arg('UAV_TYPE') == 'f330')" name="UAV_MASS" default="1.35" />
  <arg if="$(eval arg('RUN_TYPE') == 'simulation' and arg('UAV_TYPE') == 'f450')" name="UAV_MASS" default="2.0" />
  <arg if="$(eval arg('RUN_TYPE') == 'simulation' and arg('UAV_TYPE') == 'f550')" name="UAV_MASS" default="2.3" />
  <arg if="$(eval arg('RUN_TYPE') == 'simulation' and arg('UAV_TYPE') == 't650')" name="UAV_MASS" default="3.5" />
  <arg if="$(eval arg('RUN_TYPE') == 'simulation' and arg('UAV_TYPE') == 'x500')" name="UAV_MASS" default="2.0" />
  <arg if="$(eval arg('RUN_TYPE') == 'simulation' and arg('UAV_TYPE') == 'm600')" name="UAV_MASS" default="10.0" />
  <arg if="$(eval arg('RUN_TYPE') == 'simulation' and arg('UAV_TYPE') == 'eaglemk2')" name="UAV_MASS" default="10.0" />
  <arg if="$(eval arg('RUN_TYPE') == 'uav')" name="UAV_MASS" default="$(env UAV_MASS)" />


  <include file="$(find mrs_uav_status)/launch/terminal.launch" >
    <arg name="config_file" value="$(arg config_file)"/>
  </include>

  <include file="$(find mrs_uav_status)/launch/acquisition.launch" >
    <arg name="config_file" value="$(arg config_file)"/>
  </include>


</launch>
